[submodule "Groundstation/UnifiedOptitrackClients"]
	path = Groundstation/UnifiedOptitrackClients
	url = https://github.com/tudelft/UnifiedOptitrackClients/
[submodule "Groundstation/relay/ext/pi-protocol"]
	path = Groundstation/relay/ext/pi-protocol
	url = https://github.com/tblaha/pi-protocol
